.grid-container {
  display: grid;
  grid-template-columns: [inputs] 3fr [controls] 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 700px;
  margin-left: 10px;
}

.image-container {
  margin-left: 20px;
  margin-top: 20px;
}

ImageFileInput {
  grid-column: inputs;
}

.controls {
  grid-column: controls;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container > div {
  padding: 10px;
}
